<div class="jumbotron slider">
	<div id="carousel-example-generic" class="carousel slide"
		data-ride="carousel">
		<div class="carousel-inner">
			<div class="item active">
				<img src="images/about.jpg">
				<div class="image-caption">
					<div class="col-lg-4 col-md-7 col-lg-offset-8 col-md-offset-5 hidden-xs" >
						<h2 class="line-height text-image text-center" translate>banner.about</h2>
					</div>
					<div class="col-xs-12 visible-xs">
						<h4 class="line-height text-image text-center" translate>banner.about</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>