<div class="jumbotron slider">
	<div id="carousel-example-generic" class="carousel slide"
		data-ride="carousel">
		<div class="carousel-inner">
			<div class="item active">
				<img src="images/portfolio.jpg">
				<div class="image-caption">
					<div class="col-lg-5 col-md-7 col-sm-8 hidden-xs">
						<h2 class="line-height text-image text-center" translate>banner.portfolio</h2>
					</div>
					<div class="col-xs-12 visible-xs">
						<h4 class="line-height text-image text-center" translate>banner.portfolio</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>