<div ng-include="'partials/home/carousel.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Heading</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h1>Heading</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisici elit, <br>sed
				eiusmod tempor incidunt ut labore et dolore magna aliqua. <br>Ut
				enim ad minim veniam, quis nostrud
			</p>
			<a class="btn btn-primary pull-right">Click me</a>
		</div>
		<div class="col-md-4">
			<h1>Heading</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisici elit, <br>sed
				eiusmod tempor incidunt ut labore et dolore magna aliqua. <br>Ut
				enim ad minim veniam, quis nostrud
			</p>
			<a class="btn btn-primary pull-right">Click me</a>
		</div>
		<div class="col-md-4">
			<h1>Heading</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisici elit, <br>sed
				eiusmod tempor incidunt ut labore et dolore magna aliqua. <br>Ut
				enim ad minim veniam, quis nostrud
			</p>
			<a class="btn btn-primary pull-right">Click me</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h1>Heading</h1>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h1>Heading</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisici elit, <br>sed
				eiusmod tempor incidunt ut labore et dolore magna aliqua. <br>Ut
				enim ad minim veniam, quis nostrud
			</p>
			<a class="btn btn-primary pull-right">Click me</a>
		</div>
		<div class="col-md-4">
			<h1>Heading</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisici elit, <br>sed
				eiusmod tempor incidunt ut labore et dolore magna aliqua. <br>Ut
				enim ad minim veniam, quis nostrud
			</p>
			<a class="btn btn-primary pull-right">Click me</a>
		</div>
		<div class="col-md-4">
			<h1>Heading</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisici elit, <br>sed
				eiusmod tempor incidunt ut labore et dolore magna aliqua. <br>Ut
				enim ad minim veniam, quis nostrud
			</p>
			<a class="btn btn-primary pull-right">Click me</a>
		</div>
	</div>
</div>
