
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-xs-4">
				<a class="navbar-brand" href="#home"><img src="images/logo.png"></a>
			</div>
			<div class="col-sm-6 hidden-xs"></div>
			<div class="col-md-3 col-xs-8">
				<h4>CONTACT US</h4>
				<ul class="company-info list-unstyled text-left" draggable="true">
					<li><i class="glyphicon glyphicon-map-marker"></i>1375
						Richmond Avenue <br>Minneapolis, MN 90017</li>
					<li><i class="glyphicon glyphicon-earphone"></i>1-800-666-666</li>
					<li><i class="glyphicon glyphicon-envelope"></i> <a
						href="mailto:contact@somecorporation.com">contact@somecorporation.com</a>
					</li>
					<li><i class="glyphicon glyphicon-time"></i>Monday - Friday: <strong>8:00
							am - 7:00 pm</strong> <br>Saturday - Sunday: <strong>Closed</strong>
					</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-xs-6">
				<p>
					Copyright © 2014 By FutureGo - All Rights Reserved.
				</p>
			</div>
			<div class="col-xs-6 text-right">
				<div class="social-links">
					<a href="javascript:;"> <i class="fa fa-twitter"></i>
					</a> <a href="javascript:;"> <i class="fa fa-facebook"></i>
					</a> <a href="javascript:;"> <i class="fa fa-google-plus"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>