<div ng-include="'partials/contact/banner.html'"></div>
<section class="">
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1">
				<h2>FEEL FREE TO DROP US A LINE!</h2>
				<hr>
				<div class="row">
					<div class="col-sm-12">We would love to hear from you. Please
						drop us a line and let us know what you think. We will get back to
						you as soon as we can.</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div
				class="col-sm-4 col-sm-offset-4 text-center contact-phone text-success">
				<span class="text-lg text-primary">TOLL FREE</span><br> <i
					class="icon-phone4"></i>1-800-666-666
			</div>
		</div>
	</div>
</section>
<section id="contact-form" class="contact-form block">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<div ng-include="'partials/contact/formMail.html'"></div>
			</div>
			<div class="col-sm-6">
				<div ng-include="'partials/contact/address.html'"></div>
			</div>
		</div>
	</div>
</section>